.homepage-main-sec {
      background: url("https://media.istockphoto.com/photos/how-to-encourage-your-kids-to-do-household-chores-picture-id1333990968?b=1&k=20&m=1333990968&s=170667a&w=0&h=T56BZ2tP6VimRWSSz984EUWfYaHJtd_8UpwF-IKslzw= ");
      height: 100vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
    