.homepage-main-sec {
      background: url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhhbmdpbmclMjBjbG90aGVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  
      height: 100vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .products-btn{
      margin-top: 2rem;
      cursor: pointer;
  
    }